* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial;
    font-size:14px;
    color:#000;
    margin:0;
}

/* ÁREA DO HEADER */


header {
    display:block;
    margin-bottom:60px;
}
.header {
    align-items: center;
    background-color: rgb(30, 30, 30);
    color: #b99224;
    display: flex;
    font-weight: 700;
    height: 70px;
    justify-content: space-between; /* para deixar o conteúdo nas pontas */
    position:fixed; /* para deixar o menu superior fixo */
    top:0; /* para deixar o menu superior fixo */
    text-transform: uppercase;
    width: 100%;
}
.logo {
    margin-left:10px;
}
nav ul { /* display flex na UL e não na header */
    display: flex;
    list-style-type: none;
}
nav ul li {
    display: flex;
    align-content: center;
}
nav ul li a {
    display: block; /* para poder por bordas no link */
    text-decoration: none;
    padding: 0px 20px;
    list-style-type: none;
    color: #b99224;
}
nav ul li a:hover {
    color: seashell;
    background-color: slategray;
}
.menu-opener {
    display:none;
}

/* ÁREA DO CORPO DO SITE */

.main {
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#000;
    background-color: rgb(140, 190, 255);
    padding: 0px 15px;
}
.container {
    display: flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
}

.container ul {
    list-style-type: none;
}
.container li {
    font-size:16px;
}
.container li a {
    text-decoration:none;
}

H1 {
    font-size:25px;
    text-align:center;
    text-shadow:3px 4px 4px #222;
    padding:5px;
    color:#FFF;
}
H2 {
    font-size:22px;
    text-align:center;
    text-shadow:2px 3px 3px #222;
    padding:5px;
    color:#FFF;
}
.continent {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:97%;
}
.country-box {
    align-items: center;
    display:flex;
    flex-direction:column;
    margin: 5px;
    text-align: center;
}
.country-name {
    display:flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
.flag img {
    width:300px;
    height:200px;
    border: 1px solid black;
    border-radius: 12px;
}
.country-cities {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom:10px;
}
.country-cities a {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:3px;
    text-decoration: none;
}

/* área do footer */

footer {
    background-color: rgb(30, 30, 30);
    color: #b99224;
}
footer .container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
footer .whats-logo {
    width:50px;
    height:50px;
}
.whats {
    display:flex;
    align-items: center;
}
footer .face-logo {
    width:50px;
    height:50px;
}
.face {
    display:flex;
    align-items: center;
}




/*ÁREA DE RESPONSIVIDADE */

/* responsividade celular pequeno */

@media (max-width:395px) {
    .logo {
        margin-left:8px;
    }
    .menu-opener {
        display:flex;
        height:40px;
        padding-right:15px;
        width:60px;
    }
    nav {
        background-color: rgba(0,0,0,0.9); /*cor de fundo c/ transparência 90%*/
        display:none;
        height:auto;
        justify-content: center;
        position:absolute; /*para deixá-lo fixo numa posição, independente de div's*/
        right:0px;  /*alinha no canto direito, com position:absolute acionado*/
        top:70px; /*deixa na altura 70px, com position:absolute acionado*/
        width:40vw; /*largura de 40% da página*/
        z-index:99; /*garante que fique por cima dos demais elementos da pg*/ 
    }
    nav ul {
        flex-direction:column; /*mantem um link abaixo do outro*/
        padding:0px;
    }
    nav ul li {
        font-size:15px;
        justify-content: center;
        margin-bottom:20px;
    }
    nav ul li a {
        padding:0;
    }
    nav ul li:last-child {
        margin-bottom: 0px;
    }
    .main {
        text-align:center;
        align-items: center;
        font-size:13px;
    }
    .container {
        align-items: center;
    }
    H1 {
        font-size:18px;
        text-shadow: 2px 3px 3px #222;
        padding:0px;
    }
    H2 {
        font-size:17px;
        text-shadow: 2px 3px 3px #222;
        padding:3px;
    }
    .country-box {
        margin: 3px;
    }
    .country-name {
        font-size: 16px;
        padding-bottom: 8px;
    }
    .flag img {
        width:120px;
        height:80px;
        border-radius: 10px;
    }
    .country-cities {
        padding-bottom:8px;
    }
    .country-cities a {
        padding:3px;
    }

    footer .container {
        align-content:center;
        font-size:10px;
        padding:2px;
        width: 98%;
    }
    footer .whats-logo {
        height: 33px;
        width: 33px;
    }
    footer .face-logo {
        height: 30px;
        width: 30px;
    }
}

@media only screen and (min-width:396px) and (max-width:450px) {
    .logo {
        margin-left:10px;
    }
    .menu-opener {
        display:flex;
        width:60px;
        height:45px;
        padding-right:15px;
    }
    nav {
        display:none;
        position:absolute; /* para deixá-lo fixo em uma posição, independente de div's */
        z-index:99; /* Para garantir que fique por cima dos demais elementos da página */
        top:70px; /* para deixar na altura 70px, position:absolute acionado */
        right:0px;  /* para deixar no canto direito, com o position:absolute acionado */
        background-color: rgba(0,0,0,0.9); /* cor de fundo com transparência 90% */
        width:40vw; /* largura de 40% da página */
        height:auto;
        justify-content: center;
    }
    nav ul {
        flex-direction:column; /* para manter um link abaixo do outro */
        padding:0px;
    }
    nav ul li {
        margin-bottom:21px;
        font-size:16px;
        justify-content: center;
    }
    nav ul li a {
        padding:0px 0px 0px 0px;
    }
    nav ul li:last-child {
        margin-bottom: 0px;
    }
    .main {
        width:100%;
    }
    .container {
        width:96%;
        align-items: center;
        justify-content: center;
    }
    H1 {
        font-size:23px;
        text-shadow: 2px 3px 3px #222;
        padding:0px;
    }
    H2 {
        font-size:20px;
        text-shadow: 2px 3px 3px #222;
        padding:3px;
    }
    .country-box {
        margin: 3px;
    }
    .country-name {
        font-size: 19px;
        padding-bottom: 9px;
    }
    .flag img {
        width:138px;
        height:92px;
        border-radius: 11px;
    }
    .country-cities {
        padding-bottom:9px;
    }
    .country-cities a {
        padding:2px;
    }
    footer {
        width:100%;
    }
    footer .container {
        width:96%;
        font-size:13px;
    }
    footer .whats-logo {
        width:40px;
        height:40px;
    }
    .whats {
        display:flex;
        align-items: center;
    }
    footer .face-logo {
        width:38px;
        height:38px;
    }
}

@media only screen and (min-width:451px) and (max-width:600px) {
    .logo {
        margin-left:8px;
    }
    .menu-opener {
        display:flex;
        width:60px;
        height:45px;
        padding-right:15px;
    }
    nav {
        background-color: rgba(0,0,0,0.9); /* cor de fundo com transparência 90% */
        display:none;
        height:auto;
        justify-content: center;
        position:absolute; /* para deixá-lo fixo em uma posição, independente de div's */
        right:0px;  /* para deixar no canto direito, com o position:absolute acionado */
        top:70px; /* para deixar na altura 70px, position:absolute acionado */
        width:40vw; /* largura de 40% da página */
        z-index:99; /* Para garantir que fique por cima dos demais elementos da página */
    }
    nav ul {
        flex-direction:column; /* para manter um link abaixo do outro */
        padding:0px;
    }
    nav ul li {
        margin-bottom:21px;
        justify-content: center;
    }
    nav ul li a {
        font-size: 16px;
        padding:0px;
    }
    nav ul li:last-child {
        margin-bottom: 0px;
    }
    .main {
        font-size: 14px;
        padding: 0px 12px;
        width: 100%;
    }
    .container {
        align-items: center;
        justify-content: center;
    }
    H1 {
        font-size:20px;
        text-shadow: 2px 3px 3px #222;
        padding:0px;
    }
    H2 {
        font-size:18px;
        text-shadow: 2px 3px 3px #222;
        padding:3px;
    }
    .country-box {
        margin: 3px;
    }
    .country-name {
        font-size: 18px;
        padding-bottom: 9px;
    }
    .flag img {
        width:160px;
        height:105px;
        border-radius: 11px;
    }
    .country-cities {
        padding-bottom:10px;
    }
    footer .container {
        font-size:12px;
        justify-content: space-around;
    }
    footer .whats-logo {
        width:40px;
        height:40px;
    }
    .whats {
        display:flex;
        align-items: center;
    }
    footer .face-logo {
        width:38px;
        height:38px;
    }
}

@media only screen and (min-width:601px) and (max-width:800px) {
    header {
        display:block;
        margin-bottom:65px;
    }
    .header {
        align-items: center;
        background-color: rgb(30, 30, 30);
        color: #b99224;
        display: flex;
        font-weight: 700;
        height: 70px;
        justify-content: space-between; /* para deixar o conteúdo nas pontas */
        position:fixed; /* para deixar o menu superior fixo */
        text-transform: uppercase;
        top:0; /* para deixar o menu superior fixo */
        width:100%;
    }
    .logo {
        margin-left:10px;
    }
    nav ul { /* display flex na UL e não na header */
        display: flex;
        list-style-type: none;
    }
    nav ul li {
        display: flex;
        align-content: center;
    }
    nav ul li a {
        color: #b99224;
        display: block; /* para poder por bordas no link */
        font-size: 12px;
        list-style-type: none;
        padding: 0px 12px 0px 0px;
        text-decoration: none;
    }
    nav ul li a:hover {
        color: seashell;
        background-color: slategray;
    }
    .menu-opener {
        display:none;
    }
    .main {
        font-size: 14px;
        padding: 0px 12px;
    }
    .container {
        align-items: center;
        justify-content: center;
    }
    H1 {
        font-size:22px;
        padding:0px;
        text-shadow: 2px 3px 3px #222;
    }
    H2 {
        font-size:20px;
        padding:3px;
        text-shadow: 2px 3px 3px #222;
    }
    .country-name {
        font-size: 18px;
        padding-bottom: 9px;
    }
    .flag img {
        border-radius: 11px;
        height:105px;
        width:160px;
    }
    .country-cities {
        padding-bottom:8px;
    }
    .country-cities a {
        padding:2px;
    }
    footer .container {
        justify-content: space-around;
        font-size:13px;
    }
    footer .whats-logo {
        width:38px;
        height:38px;
    }
    .whats {
        display:flex;
        align-items: center;
    }
    footer .face-logo {
        width:36px;
        height:36px;
    }
};
