body {
    font-family: "Montserrat", Arial;
    font-size:14px;
    color:#000;
    margin:0;
    background-color: rgb(184, 217, 255);
}



/* ÁREA DO HEADER */

header {
    display: block;
    margin-bottom:50px;
}
.header {
    display:flex;
    justify-content:space-between; /* para deixar o conteúdo nas pontas */
    align-items:center;
    background-color: rgb(30, 30, 30);
    color: #b99224;
    width:100%;
    height:70px;
    text-transform:uppercase;
    font-weight:700;
    position:fixed; /* para deixar o menu superior fixo */
    top:0; /* para deixar o menu superior fixo no alto */
}
.logo {
    margin-left:15px;
}
nav ul { /* display flex na UL e não na header */
    display:flex;
    list-style-type:none;
}
nav ul li {
    display:flex;
    align-content:center;
}
nav ul li a {
    display:block; /* para poder por bordas no link */
    text-decoration:none;
    padding:0px 20px;
    list-style-type:none;
    color: #b99224;
}
nav ul li a:hover {
    color:white;
    background-color:slategray;
}
.menu-opener {
    display:none;
}

/* ÁREA DO CORPO DO SITE */

.main {
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#000;
    margin:auto;
}
.container {
    display:flex;
    flex-direction:column;
    margin:auto;
    width:98%;
}
.centered-image {
    display:flex;
    width:329px;
    margin:auto;
    border:0px solid #222;
    border-radius:15px;
    box-shadow:4px 4px 7px #222;
}
H1 {
    font-size:28px;
    text-align:center;
    text-shadow: 4px 4px 4px #222;
    padding:5px;
    color:#FFF;
}
H2, H3 {
    font-size:22px;
    text-align:center;
    text-align:center;
    text-shadow:2px 3px 4px #222;
    padding:5px;
    color:#FFF;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bolder;
}
.green {
    color:green;
}

.tomadas {
    display: flex;
    justify-content:center;
    padding-top:15px;
}
.tomadas img {
    padding-left:10px;
}
.attractions-items { /* bloco de todas as fotos + nomes */
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin:auto;
    max-width:1100px;
}
.attractions-item { /* foto + nome individuais */
    display:flex;
    flex-direction:column;
    border:1px solid black;
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
    margin-bottom:8px;
    overflow:hidden; /* para cortar a parte da imagem que sai da borda */
}
.attractions-item--pic {
    display:flex;
    margin:auto;
}
.attractions-item--pic a {
    display:flex;
}
.attractions-item--pic a img {
    width:329px;
}
.attractions-item--name {
    display:flex;
    color:#b99224;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
    max-width:329px;
    height:42px;
    justify-content:center;
    align-items:center;
    background-color: black;
    text-align:center;
}
.preparacao-primeiras ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:0;
}
.preparacao-primeiras ul li {
    display:flex;
    flex-wrap:wrap;
    text-align:center;
}
.preparacao-primeiras ul li a {
    display: flex;
    background-color: rgb(222, 229, 238);
    border:1px solid #000;
    border-radius:6px;
    padding:5px;
    text-decoration:none;
    font-size:15px;
    font-weight:bold;
    justify-content:center;
    width:185px;
    height:52px;
    align-items: center;
    margin:2px;
}
.preparacao-primeiras ul li a:hover {
    background-color: #222;
    text-decoration:none;
    color: #FFF;
}


/* TEXTO */

.atracoes-texto {
    display:flex;
    flex-direction:column;
    margin:auto;
    border-top: 5px solid black;
}
.atracao-texto--area {
    padding-bottom: 15px;
    border-bottom: 3px solid black;
    width: 100%;
}
.atracao-texto--area:last-child {
    border-bottom: 0px solid black;
}
.atracao-texto--nome {
    font-size:19px;
    color:white;
    text-shadow:2px 2px 3px black;
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
}
.atracao-texto--pic {
    display:block;
    justify-content:center;
    text-align: center;
    margin:10px 0px;
}
.atracao-texto--pic img {
    border-radius:10px;
    border:1px solid black;
}
.button_back {
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    width:100px;
    height:22px;
    background:linear-gradient(45deg, #00F, #000);
    border:1px solid black;
    border-radius:22px;
    font-size:15px;
    font-family: sans-serif;
    text-decoration: none;
    padding:7px;
    box-shadow:3px 5px 10px #888;
    text-shadow:2px 2px 6px #444;
    margin: 5px auto auto auto;
}
.button_back:hover {
    background:linear-gradient(0deg, rgb(86, 83, 232), rgb(113, 110, 255));
}
.button_back_country {
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    width:165px;
    height:22px;
    background:linear-gradient(45deg, rgb(253, 88, 38), #000);
    border:1px solid black;
    border-radius:22px;
    font-size:15px;
    font-family: sans-serif;
    text-decoration: none;
    margin-top:10px;
    padding:7px;
    box-shadow:3px 5px 10px #888;
    text-shadow:2px 2px 6px #444;
    margin: 3px auto auto auto;
}
.button_back_country:hover {
    background:linear-gradient(0deg, rgb(255, 176, 59), rgb(113, 110, 255));
}

/* área do footer */

footer {
    margin-top:10px;
    background-color: rgb(30, 30, 30);
    color: #b99224;
}
footer .container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    max-width:1100px;
}
.whats-logo {
    width:50px;
    height:50px;
}
.whats {
    display:flex;
    align-items: center;
}
.face-logo {
    width:42px;
    height:42px;
}
.face {
    display:flex;
    align-items:center;
}




/* RESPONSIVIDADE CELULARES */


@media (max-width:395px) {
    .logo {
        margin-left:8px;
    }
    .menu-opener {
        display:flex;
        height:40px;
        padding-right:15px;
        width:45px;
    }
    nav {
        background-color: rgba(0,0,0,0.9); /*cor de fundo c/ transparência 90%*/
        display:none;
        height:auto;
        justify-content: center;
        position:absolute; /*para deixá-lo fixo numa posição, independente de div's*/
        right:0px;  /*alinha no canto direito, com position:absolute acionado*/
        top:70px; /*deixa na altura 70px, com position:absolute acionado*/
        width:40vw; /*largura de 40% da página*/
        z-index:99; /*garante que fique por cima dos demais elementos da pg*/ 
    }
    nav ul {
        flex-direction:column; /*mantem um link abaixo do outro*/
        padding:0px;
    }
    nav ul li {
        font-size:15px;
        justify-content: center;
        margin-bottom:20px;
    }
    nav ul li a {
        padding:0;
    }
    nav ul li:last-child {
        margin-bottom: 0px;
    }
    .main {
        width:98%;
        font-size:14px;
    }
    .main .container {
        align-items: center;
        padding: 14px 12px 12px;
        width:96%;
    }
    .centered-image {
        width:280px;
        border-radius:16px;
        box-shadow: 3px 3px 6px #222;
    }
    H1 {
        font-size:18px;
        text-shadow: 2px 3px 3px #222;
        padding:0px;
        margin-top: 12px;
    }
    H2, H3 {
        font-size:16px;
        text-shadow: 2px 3px 3px #222;
        padding:3px;
    }
    .tomadas {
        flex-wrap:wrap;
        width:auto;
        padding-top:6px;
    }
    .tomadas img {
        width:150px;
        padding:2px;
    }
    .preparacao-primeiras ul li a {
        border-radius:5px;
        padding:2px;
        text-decoration:none;
        font-size:13px;
        width:115px;
        height:30px;
    }
    .attractions-item {
        margin:2px;
        margin-bottom:6px;    
    }
    .attractions-item--pic a img {
        width:155px;
        height:104px;
    }
    .attractions-item--name {
       font-size:13px;
       max-width:155px;
       height:46px;
    }
    atracao-texto--area {
        max-width: 100%;
        padding: 0px;
    }

    .atracao-texto--pic img {
        width:280px;
    }
    .atracao-texto--nome {
        font-size:17px;
        margin-top:8px;
        margin-bottom:8px;
    }
    .button_back {
        width:90px;
        height:20px;
        border-radius:11px;
        margin-top:10px;
        padding:3px;
    }
    .button_back_country {
        width:135px;
        height:28px;
        border-radius:12px;
        margin-top:8px;
        padding:4px;
        text-align: center;
        font-size: 12px;
    }
    footer {
        margin-top:5px;
    }
    footer .container {
        align-content:center;
        font-size:10px;
        padding:3px;
    }
    footer .whats-logo {
        height: 33px;
        width: 33px;
    }
    footer .face-logo {
        height: 30px;
        width: 30px;
    }
}

@media only screen and (min-width:396px) and (max-width:460px) {
    .logo {
        margin-left:10px;
    }
    .menu-opener {
        display:flex;
        height:44px;
        padding-right:18px;
        width:47px;
    }
    nav {
        background-color: rgba(0,0,0,0.9); /*cor de fundo c/ transparência 90%*/
        display:none;
        height:auto;
        justify-content: center;
        position:absolute; /*para deixá-lo fixo numa posição, independente de div's*/
        right:0px;  /*alinha no canto direito, com position:absolute acionado*/
        top:70px; /*deixa na altura 70px, com position:absolute acionado*/
        width:40vw; /*largura de 40% da página*/
        z-index:99; /*garante que fique por cima dos demais elementos da pg*/ 
    }
    nav ul {
        flex-direction:column; /*mantem um link abaixo do outro*/
        padding:0px;
    }
    nav ul li {
        font-size:16px;
        justify-content: center;
        margin-bottom:21px;
    }
    nav ul li a {
        padding:0;
    }
    nav ul li:last-child {
        margin-bottom: 0px;
    }
    .main {
        width:98%;
        font-size:14px;
    }
    .main .container {
        align-items: center;
        padding: 11px 13px;
        width:96%;
    }
    .centered-image {
        width:300px;
        border-radius:17px;
        box-shadow: 3px 3px 6px #222;
    }
    H1 {
        font-size:19px;
        text-shadow: 2px 3px 3px #222;
        padding:0px;
        margin-top: 22px;
    }
    H2, H3 {
        font-size:16px;
        text-shadow: 2px 3px 3px #222;
        padding:3px;
    }
    .tomadas {
        flex-wrap:wrap;
        width:auto;
        padding-top:6px;
    }
    .tomadas img {
        width:165px;
        padding:2px;
    }
    .preparacao-primeiras ul li a {
        border-radius:5px;
        padding:2px;
        text-decoration:none;
        font-size:13px;
        width:115px;
        height:30px;
    }
    .attractions-item {
        margin:2px;
        margin-bottom:6px;    
    }
    .attractions-item--pic a img {
        width:179px;
        height:119px;
    }
    .attractions-item--name {
       font-size:13px;
       max-width:179px;
       height:46px;
    }
    atracao-texto--area {
        max-width: 100%;
        padding: 0px;
    }
    .atracao-texto--pic img {
        width:300px;
    }
    .atracao-texto--nome {
        font-size:17px;
        margin-top:9px;
        margin-bottom:9px;
    }
    .button_back {
        width:96px;
        height:22px;
        border-radius:11px;
        margin-top:10px;
        padding:2px;
    }
    .button_back_country {
        width:140px;
        height:30px;
        border-radius:12px;
        margin-top:8px;
        padding:4px;
        text-align: center;
        font-size: 13px;
    }
    footer {
        margin-top:5px;
    }
    footer .container {
        align-content:center;
        font-size:10px;
        padding:3px;
    }
    footer .whats-logo {
        height: 33px;
        width: 33px;
    }
    footer .face-logo {
        height: 30px;
        width: 30px;
    }
}

/* responsividade tablets */

@media (min-width:461px) and (max-width:800px) {
.logo {
    margin-left:15px;
}
.menu-opener {
    display:flex;
    width:49px;
    height:46px;
    padding-right:18px;
}
nav {
    display:none;
    position:absolute; /* para deixá-lo fixo em uma posição, independente de div's */
    z-index:99; /* Para garantir que fique por cima dos demais elementos da página */
    top:70px; /* para deixar na altura 70px, position:absolute acionado */
    right:0px;  /* para deixar no canto direito, com o position:absolute acionado */
    background-color: rgba(0,0,0,0.9); /* cor de fundo com transparência 90% */
    width:40vw; /* largura de 40% da página */
    height:auto;
    justify-content: center;
}
nav ul {
    flex-direction:column; /* para manter um link abaixo do outro */
    padding:0px;
}
nav ul li {
    margin-bottom:23px;
    font-size:17px;
    justify-content:center;
}
nav ul li a {
    padding:0px 0px 0px 0px;
}
nav ul li:last-child {
    margin-bottom:0px;
}
.main {
    width:100%;
    font-size:14px;
}
.container {
    width:96%;
    align-items: center;
    justify-content: center;
}
H1 {
    font-size:20px;
    text-shadow: 2px 3px 3px #222;
    margin-top: 25px;
}
H2, H3 {
    font-size:16px;
    text-shadow: 2px 3px 3px #222;
    padding:3px;
}
.preparacao-primeiras ul li a {
    border-radius:5px;
    padding:2px;
    font-size:13px;
    width:140px;
    height:34px;
}
.tomadas {
    flex-wrap:wrap;
    width:auto;
    padding-top:6px;
}
.tomadas img {
    width:200px;
    padding:2px;
}
.attractions-item { /* foto + nome individuais */
    margin: 2px;
    margin-bottom:6px;
}
.attractions-item--pic a img {
    width:280px;
    height:187px;
}
.attractions-item--name {
   font-size:16px;
   max-width:280px;
   height:46px;
}
.atracao-texto--nome {
    font-size:16px;
    margin-top:9px;
    margin-bottom:9px;
}
footer {
    margin-top:6px;
}
footer .container {
    width:96%;
    font-size:13px;
}
.whats-logo {
    width:44px;
    height:44px;
}
.face-logo {
    width:36px;
    height:36px;
}
}
